<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Person</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="content">
        <h1>Add Person</h1>
        <form action="{{ url_for('add_person') }}" method="POST">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="role">Select Role:</label><br>
            <select id="role" name="role" required>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
                <option value="parent">Parent</option>
            </select><br><br>

            <button type="submit">Add Person</button>
        </form>
    </div>

</body>
</html>
{% endblock %}