<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>

<div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="username">Email</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Sign In</button>

        <a href="#">Forgot your password?</a>
    </form>
</div>

</body>
</html>
